#J-SearchPlace {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  min-height: 100%;
  width: 100%;
  bottom: 0;
  background: #fff;

  .J-sp-fix {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    background: #fff;
    z-index: 10;
    max-width:7.5rem;
    margin-left:-3.75rem;
  }
  .sp-input-wrap {
    margin: 0.5rem;
    border: 1px solid #898989;
    border-radius: 20px;
    display: flex;
    height: 0.8rem;
    align-items: center;
    padding: 0 15px;
    /* max-width: 7.5rem; */
    & > span {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    & > input {
      flex: 1;
      text-align: center;
      font-size: 14px;
      padding: 5px;
      color: #000;
    }
    & > span.sp-search-icon {
      background-image: url(./images/search.png);
    }
    & > span.sp-clear-icon {
      display: none;
      background-image: url(./images/clear-icon.png);
    }
  }
  .sp-res-wrap {
    font-size: 14px;
    top: 2.8rem;
    z-index: 1;
    background: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #000;

    & > ul {
    }
    li:first-of-type {
      border-top: 1px solid #898989;
    }
    li {
      padding: 10px 10px;
      border-bottom: 1px solid #898989;
    }
    h2 {
      font-size: 14px;
    }
  }
  .sp-loading {
    display: none;
    background-image: url('./images/loading.png');
    width: 50px;
    height: 50px;
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 11;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
    animation: sp-load 1.4s infinite linear;
    transform-origin: center center !important;
  }
}
@-webkit-keyframes sp-load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes sp-load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
