{% set personLuggage = 14 %}
<div class="sku-price-luggage">当前车型最多可携带行李（24寸）{{maxLuggage(personLuggage,param.adultNo,param.childNo,param.childSeat)}}件</div>
<div class="sku-confirm-price">
  <span class="sku-price-title">总价: </span>
  <span class="sku-count-price">￥{{formatMoney(nextParam.totalPrice)}}</span>
</div>
<a class="skucar-next-btn">立即预订</a>
