{
  "extends":           "eslint-config-egg",
  "parser":            'babel-eslint',
  "env":               {
        "browser":     true
        },
        "globals":     {
          "wx":        true,
          "Swiper":    true,
      },
  rules:               {
    "indent":          ["error", 4],
    "linebreak-style": ["error", "unix"],
    "quotes":          ["error", "single"],
    "semi":            ["error", "always"],
    "eqeqeq":          ["warn", "smart"],
    "comma-dangle":    ["error", "never"],
    "no-cond-assign":  ["error", "always"],

    "no-console":      "off",
    "no-empty": ["error", { "allowEmptyCatch": true }],
  },
   "parserOptions":    {
        "ecmaVersion": 6,
        "sourceType":  "module",
    },
}
