//  -------------tips css start--------
.tipsanimated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes tipsfadeIn {
  0% {
    opacity: 0;
    background-color: black;
    -webkit-animation-timing-function: ease-in;
  }

  35% {
    opacity: 0.8;
    background-color: black;
  }

  65% {
    opacity: 0.8;
    background-color: black;
  }

  100% {
    opacity: 0;
    background-color: black;
    -webkit-animation-timing-function: ease-out;
  }
}

@keyframes tipsfadeIn {
  0% {
    opacity: 0;
    background-color: black;
    -webkit-animation-timing-function: ease-in;
  }

  35% {
    opacity: 0.8;
    background-color: black;
  }

  65% {
    opacity: 0.8;
    background-color: black;
  }

  100% {
    opacity: 0;
    background-color: black;
    -webkit-animation-timing-function: ease-out;
  }
}

.tipsfadeIn {
  -webkit-animation-name: tipsfadeIn;
  animation-name: tipsfadeIn;
}

// ---------tips css end --------------

//  -------------alert css start--------
.alertanimated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes alertfadeIn {
  0% {
    opacity: 0;
    background-color: black;
  }

  50% {
    opacity: 0.5;
    background-color: black;
  }

  100% {
    opacity: 0.8;
    background-color: black;
  }
}

@keyframes alertfadeIn {
  0% {
    opacity: 0;
    background-color: black;
  }

  50% {
    opacity: 0.5;
    background-color: black;
  }

  100% {
    opacity: 0.8;
    background-color: black;
  }
}

.alertfadeIn {
  -webkit-animation-name: alertfadeIn;
  animation-name: alertfadeIn;
}

.J-Tips-btn{
  margin: 10px 0;
  font-size: 18px;
}

// ---------alert css end --------------



.J-Fixed{
  position: fixed;
  top: 45%;
  width: 80%;
  margin: 0 10%;
  color: white;
  padding: 10px;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -webkit-border-radius: 4px;
  text-align: center;
  z-index: 200;
}

//fixed tipsfadeIn tipsanimated
