  <title>{{tplData.title if tplData.title else '包车旅行'}}</title>
  <meta name="keywords" content="{{tplData.keywords if tplData.keywords else '包车旅行'}}"/>
  <meta name="description" content="{{tplData.desc if tplData.desc else '包车旅行-包车游' }}" />
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
  <meta content="telephone=no" name="format-detection" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <!-- 标签验证 -->
  <meta name="baidu-site-verification" content="GaN6JqLgzE" />
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <link rel="dns-prefetch" href="//lxbjs.baidu.com">
  <link rel="dns-prefetch" href="//hm.baidu.com">
