*{
	margin: 0;
	padding: 0;
}
.shareWrapper{
	// display: none;
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    img{
    	width: 7.5rem;
    	position: absolute;
    	right: 0;
    }
}
