#loading {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  overflow: hidden;
  z-index: 99999;
  background: transparent; }

#loading .loading-content {
  position: absolute;
  width: 100px;
  height: 90px;
  line-height: 100px;
  color: white;
  text-align: center;
  font-size: 15px;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -45px;
  -moz-border-radius: 10px;
       border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 0px !important;
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
  display: block;
  background-color: rgba(47, 34, 33, 0.9);
  background-image: url(https://fr-static.huangbaoche.com/20180305/loading_new.5ae4b571ced8f1f1.gif);
  -moz-background-size: 50%;
       background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  line-height: 0px;
  text-indent: -999em; }
.J-layer-wrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2000; }
  .J-layer-wrap .layer {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: .2rem;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.75);
    font-size: .3rem;
    z-index: 10;
    -webkit-border-radius: .2rem;
       -moz-border-radius: .2rem;
            border-radius: .2rem;
    text-align: center;
    color: #fff;
    width: 66%; }
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
html, body {
  margin: 0px;
  padding: 0px;
  font-family: PingFangSC-Regular, Noto Sans CJK SC, Source Han Sans CNArial, Helvetica, sans-serif;
}
section, footer, nav, em, mark, p, span, ul, li, ol, h1, h2, h3, h4, input, textarea {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden], template {
  display: none;
}
img {
  border: 0;
}
a {
  background-color: transparent;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b, strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background-color: transparent;
}
small {
  font-size: 80%;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button, input, optgroup, select, textarea {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
}
button {
  overflow: visible;
}
button, select {
  text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled], html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td, th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  max-width: 640px;
  margin: 0 auto;
}
.line-bottom{
    background-image: url('https://fr-static.huangbaoche.com/20180305/h-b.e26fbe09065d90cb.png');
    -moz-background-size: auto 1px;
         background-size: auto 1px;
    background-repeat: repeat-x;
    background-position: left bottom;
}
.line-left{
    background-image: url('https://fr-static.huangbaoche.com/20180305/h-l.e65c8fd3cca93572.png');
    -moz-background-size: 1px auto;
         background-size: 1px auto;
    background-repeat: repeat-y;
    background-position: left top;
}
.line-right{
    background-image: url('https://fr-static.huangbaoche.com/20180305/h-r.b75ca6e9bf04e241.png');
    -moz-background-size: 1px auto;
         background-size: 1px auto;
    background-repeat: repeat-y;
    background-position: right top;
}
.line-top{
    background-image: url('https://fr-static.huangbaoche.com/20180305/h-t.da0911fa371971e6.png');
    -moz-background-size: auto 1px;
         background-size: auto 1px;
    background-repeat: repeat-x;
    background-position: left top;
}
header.header {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  background-color: #ffffff;
  color: #000000;
  position: relative;
  border-bottom: 1px solid #DBDBDB; }
  header.header b.back {
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 0.2rem;
    color: #000000;
    font-size: 0.5rem; }
  header.header b:before {
    font-size: 0.34rem;
    line-height: 1rem; }
  header.header h2 {
    text-align: center;
    font-size: 0.34rem;
    color: #000000;
    text-transform: uppercase; }
  header.header h2.mult {
      height: 1rem;
      line-height: 1.3;
      padding-top: .1rem; }
  header.header h2.mult span {
        display: block;
        font-weight: normal;
        font-size: .28rem; }
  header.header span.contact-show {
    position: absolute;
    right: 0.28rem;
    top: 0.28rem;
    font-size: 0.4rem;
    display: none; }
  .contact-wapper {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6); }
  .contact {
  width: 6rem;
  height: 3rem;
  margin: 2rem auto;
  background-color: #ffffff;
  color: #898989;
  position: relative;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px; }
  .contact h3 {
    width: 5.94rem;
    height: 0.88rem;
    line-height: 1rem;
    font-size: 0.34rem;
    margin: 0 auto;
    text-align: center;
    color: #222222; }
  .contact a {
    color: blue; }
  .contact b.close {
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    line-height: 0.32rem;
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
    border: 1px solid #898989;
    -webkit-border-radius: 0.5rem;
       -moz-border-radius: 0.5rem;
            border-radius: 0.5rem;
    text-align: center;
    font-size: 0.3rem;
    font-weight: normal;
    color: #898989; }
  .contact ul li {
    height: 0.6rem;
    padding-left: 1rem;
    font-size: 0.26rem; }
  .contact ul li span {
      display: inline-block;
      width: 1.4rem; }
@font-face {
  font-family: 'icomoon';
  src:  url(http://127.0.0.1:7001/static/fonts/icomoon.de6d541.eot);
  src:  url(http://127.0.0.1:7001/static/fonts/icomoon.de6d541.eot#iefix) format('embedded-opentype'),
    url(http://127.0.0.1:7001/static/fonts/icomoon.4f6fc74.ttf) format('truetype'),
    url(http://127.0.0.1:7001/static/fonts/icomoon.246b715.woff) format('woff'),
    url(http://127.0.0.1:7001/static/img/icomoon.f9b46d3.svg#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ioc106:before {
  content: "\E900";
}

.icon-ioc107:before {
  content: "\E901";
}

.icon-ioc108:before {
  content: "\E902";
}

.icon-ioc109:before {
  content: "\E903";
}

.icon-ioc110:before {
  content: "\E904";
}

.icon-ioc111:before {
  content: "\E905";
}

.icon-hi-logo:before {
  content: "\E906";
}

.icon-ioc-logo:before {
  content: "\E907";
}

.icon-ioc1:before {
  content: "\E908";
}

.icon-ioc2:before {
  content: "\E909";
}

.icon-ioc3:before {
  content: "\E90A";
}

.icon-ioc4:before {
  content: "\E90B";
}

.icon-ioc5:before {
  content: "\E90C";
}

.icon-ioc6:before {
  content: "\E90D";
}

.icon-ioc7:before {
  content: "\E90E";
}

.icon-ioc8:before {
  content: "\E90F";
}

.icon-ioc9:before {
  content: "\E910";
}

.icon-ioc10:before {
  content: "\E911";
}

.icon-ioc11:before {
  content: "\E912";
}

.icon-ioc12:before {
  content: "\E913";
}

.icon-ioc13:before {
  content: "\E914";
}

.icon-ioc14:before {
  content: "\E915";
}

.icon-ioc15:before {
  content: "\E916";
}

.icon-ioc16:before {
  content: "\E917";
}

.icon-ioc17:before {
  content: "\E918";
}

.icon-ioc18:before {
  content: "\E919";
}

.icon-ioc19:before {
  content: "\E91A";
}

.icon-ioc20:before {
  content: "\E91B";
}

.icon-ioc21:before {
  content: "\E91C";
}

.icon-ioc22:before {
  content: "\E91D";
}

.icon-ioc23:before {
  content: "\E91E";
}

.icon-ioc24:before {
  content: "\E91F";
}

.icon-ioc25:before {
  content: "\E920";
}

.icon-ioc26:before {
  content: "\E921";
}

.icon-ioc27:before {
  content: "\E922";
}

.icon-ioc28:before {
  content: "\E923";
}

.icon-ioc29:before {
  content: "\E924";
}

.icon-ioc30:before {
  content: "\E925";
}

.icon-ioc31:before {
  content: "\E926";
}

.icon-ioc32:before {
  content: "\E927";
}

.icon-ioc33:before {
  content: "\E928";
}

.icon-ioc34:before {
  content: "\E929";
}

.icon-ioc36:before {
  content: "\E92A";
}

.icon-ioc37:before {
  content: "\E92B";
}

.icon-ioc38:before {
  content: "\E92C";
}

.icon-ioc39:before {
  content: "\E92D";
}

.icon-ioc40:before {
  content: "\E92E";
}

.icon-ioc41:before {
  content: "\E92F";
}

.icon-ioc42:before {
  content: "\E930";
}

.icon-ioc43:before {
  content: "\E931";
}

.icon-ioc44:before {
  content: "\E932";
}

.icon-ioc45:before {
  content: "\E933";
}

.icon-ioc46:before {
  content: "\E934";
}

.icon-ioc47:before {
  content: "\E935";
}

.icon-ioc48:before {
  content: "\E936";
}

.icon-ioc49:before {
  content: "\E937";
}

.icon-ioc50:before {
  content: "\E938";
}

.icon-ioc51:before {
  content: "\E939";
}

.icon-ioc52:before {
  content: "\E93A";
}

.icon-ioc53:before {
  content: "\E93B";
}

.icon-ioc54:before {
  content: "\E93C";
}

.icon-ioc55:before {
  content: "\E93D";
}

.icon-ioc56:before {
  content: "\E93E";
}

.icon-ioc57:before {
  content: "\E93F";
}

.icon-ioc58:before {
  content: "\E940";
}

.icon-ioc59:before {
  content: "\E941";
}

.icon-ioc60:before {
  content: "\E942";
}

.icon-ioc61:before {
  content: "\E943";
}

.icon-ioc62:before {
  content: "\E944";
}

.icon-ioc63:before {
  content: "\E945";
}

.icon-ioc64:before {
  content: "\E946";
}

.icon-ioc65:before {
  content: "\E947";
}

.icon-ioc66:before {
  content: "\E948";
}

.icon-ioc67:before {
  content: "\E949";
}

.icon-ioc68:before {
  content: "\E94A";
}

.icon-ioc69:before {
  content: "\E94B";
}

.icon-ioc70:before {
  content: "\E94C";
}

.icon-ioc71:before {
  content: "\E94D";
}

.icon-ioc72:before {
  content: "\E94E";
}

.icon-ioc73:before {
  content: "\E94F";
}

.icon-ioc74:before {
  content: "\E950";
}

.icon-ioc75:before {
  content: "\E951";
}

.icon-ioc76:before {
  content: "\E952";
}

.icon-ioc77:before {
  content: "\E953";
}

.icon-ioc78:before {
  content: "\E954";
}

.icon-ioc79:before {
  content: "\E955";
}

.icon-ioc80:before {
  content: "\E956";
}

.icon-ioc81:before {
  content: "\E957";
}

.icon-ioc82:before {
  content: "\E958";
}

.icon-ioc83:before {
  content: "\E959";
}

.icon-ioc84:before {
  content: "\E95A";
}

.icon-ioc85:before {
  content: "\E95B";
}

.icon-ioc86:before {
  content: "\E95C";
}

.icon-ioc87:before {
  content: "\E95D";
}

.icon-ioc88:before {
  content: "\E95E";
}

.icon-ioc89:before {
  content: "\E95F";
}

.icon-ioc90:before {
  content: "\E960";
}

.icon-ioc91:before {
  content: "\E961";
}

.icon-ioc92:before {
  content: "\E962";
}

.icon-ioc93:before {
  content: "\E963";
}

.icon-ioc94:before {
  content: "\E964";
}

.icon-ioc95:before {
  content: "\E965";
}

.icon-ioc96:before {
  content: "\E966";
}

.icon-ioc97:before {
  content: "\E967";
}

.icon-ioc98:before {
  content: "\E968";
}

.icon-ioc99:before {
  content: "\E969";
}

.icon-ioc100:before {
  content: "\E96A";
}

.icon-ioc101:before {
  content: "\E96B";
}

.icon-ioc102:before {
  content: "\E96C";
}

.icon-ioc103:before {
  content: "\E96D";
}

.icon-ioc104:before {
  content: "\E96E";
}

.icon-ioc105:before {
  content: "\E96F";
}

.icon-logo:before {
  content: "\E970";
}
@media screen and (min-width: 750px) {
  .hackmax {
    max-width: 7.5rem;
    margin: 0 auto;
    left: 50% !important;
    margin-left: -3.75rem;
    height: 100%;
    position: relative; } }

@media screen and (min-width: 750px) {
  .hackmaxAuto {
    max-width: 7.5rem;
    margin: 0 auto;
    left: 50% !important;
    margin-left: -3.75rem;
    position: relative; } }

@media screen and (min-width: 750px) {
  .hackmaxNomal {
    max-width: 7.5rem;
    margin: 0 auto; } }
.J-iscbc .list-item-order button, .J-iscbc .succ .download a, .J-iscbc .widget-download a, .J-iscbc .J-detail .user-evaluate .checkAll, .J-iscbc .empty a, .J-iscbc .J-succ .download a, .J-iscbc .foot-btn button, .J-iscbc #J_common .add, .J-iscbc #J_editInfo .con #okBtn, .J-iscbc #J_insurance .ok, .J-iscbc .choose, .J-iscbc #orderForm .count_area .confirm_btn, .J-iscbc .plane .plane-confirm .confirm-box .submit, .J-iscbc .chooseNo .search-btn, .J-iscbc.J-P-android .single-button, .J-iscbc.J-P-ios .single-button, .J-iscbc .demand .submit, .J-iscbc .book button, .J-iscbc .info-select .info-select-box a, .J-iscbc.J-P-android .J_user .confirm_btn, .J-iscbc.J-P-ios .J_user .confirm_btn {
  border: 1px solid #09B6F2;
  -webkit-border-radius: .4rem;
     -moz-border-radius: .4rem;
          border-radius: .4rem;
  background: #fff;
  color: #09B6F2;
  height: .8rem;
  line-height: .8rem;
  font-size: .3rem;
  margin-left: auto;
  margin-right: auto; }

.J-iscbc .list-item-order button, .J-iscbc .succ .download a, .J-iscbc .widget-download a, .J-iscbc .J-detail .user-evaluate .checkAll, .J-iscbc .empty a, .J-iscbc .J-succ .download a {
  font-size: .26rem;
  -webkit-border-radius: .24rem;
     -moz-border-radius: .24rem;
          border-radius: .24rem;
  height: .48rem;
  line-height: .48rem; }

.J-iscbc {
  /* .title .quo {
    color: $base
  } */ }

.J-iscbc .foot-btn button {
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%); }

.J-iscbc .page-user-info .user-coupon div.coupon {
    display: none;
    border: 1px solid #09B6F2;
    /* em {
          background-color: $base;
          color: $white;
        } */ }

.J-iscbc .page-order-list .order-title span {
    color: #09B6F2; }

.J-iscbc .coupon-item {
    border: 2px solid #09B6F2; }

.J-iscbc .coupon-item strong {
      color: #09B6F2; }

.J-iscbc .coupon-item p a {
      border-left: 2px solid #09B6F2; }

.J-iscbc .coupon-item-cancel {
    border: 1px solid #09B6F2; }

.J-iscbc .coupon-list .check b {
    background-color: #09B6F2; }

.J-iscbc .coupon-list .check strong {
    background-color: #09B6F2;
    color: #fff; }

.J-iscbc #J_editInfo .con {
    padding: 0; }

.J-iscbc #J_editInfo .con ul {
      border: none; }

.J-iscbc #J_insurance .con {
    padding: .3rem 0 .68rem; }

.J-iscbc #J_insurance .con ul, .J-iscbc #J_insurance .con dl {
      border: none;
      -webkit-border-radius: 0;
         -moz-border-radius: 0;
              border-radius: 0; }

.J-iscbc #J_insurance .ok {
    margin-bottom: 1px; }

.J-iscbc .box {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    width: auto; }

.J-iscbc .menu li.check {
    color: #09B6F2;
    border-bottom: 3px solid #09B6F2; }

.J-iscbc .item-list li i {
    border: 1px solid #09B6F2; }

.J-iscbc .search-con ul em {
    color: #09B6F2; }

.J-iscbc .passenger header {
    background: #09B6F2;
    color: #fff; }

.J-iscbc .passenger header h2 {
      color: #fff; }

.J-iscbc .passenger header a {
      color: #fff; }

.J-iscbc .can .can-main h2 {
    background: #09B6F2;
    color: #fff; }

.J-iscbc .can .can-main .can-days h2 {
    background: #fff;
    color: #111; }

.J-iscbc .can .can-main .can-days .can-day li.can-active em, .J-iscbc .can .can-main .can-days .can-day li.can-active-start em, .J-iscbc .can .can-main .can-days .can-day li.can-active-end em {
    background: #09B6F2;
    color: #fff; }

.J-iscbc .can .can-main .can-days .can-day li.can-active i, .J-iscbc .can .can-main .can-days .can-day li.can-active-start i, .J-iscbc .can .can-main .can-days .can-day li.can-active-end i {
    color: #09B6F2; }

.J-iscbc .can .can-main .can-days .can-day li.can-active:before, .J-iscbc .can .can-main .can-days .can-day li.can-active-start:before, .J-iscbc .can .can-main .can-days .can-day li.can-active-end:before {
    background-color: rgba(9, 182, 242, 0.4);
    z-index: -1; }

.J-iscbc .can .can-main .can-days .can-day li.can-active-start.can-only-start:before, .J-iscbc .can .can-main .can-days .can-day li.can-active-start.can-active-end:before {
    background: none; }

.J-iscbc .can .can-main .can-days .can-day li.can-range em {
    background-color: rgba(9, 182, 242, 0.4); }

.J-iscbc .layerSelect .conArea h2 {
    background: #09B6F2;
    color: #fff; }

.J-iscbc .info h2 {
    border-bottom: 1px solid #09B6F2; }

.J-iscbc .info .info-single li b, .J-iscbc .info .info-sku li b {
    color: #09B6F2; }

.J-iscbc .list-item-order button {
    width: 1.1rem; }

.J-iscbc .list-item {
    border: none;
    width: auto;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0; }

.J-iscbc .list-item-checked {
    background: #09B6F2;
    border: 1px solid #09B6F2; }

.J-iscbc .sku-car .sku-price-confirm .skucar-next-btn {
    background-color: #09B6F2; }

.J-iscbc #orderForm .detial.confirm h2 {
    border-bottom: 1px solid #09B6F2; }

.J-iscbc #orderForm .detial ul li:before {
    color: #09B6F2; }

.J-iscbc #orderForm .con {
    padding: 0 0 .4rem; }

.J-iscbc #orderForm .con .remark_area {
      padding: .4rem 0 .7rem 0; }

.J-iscbc #orderForm .con .info, .J-iscbc #orderForm .con .remark_area textarea {
      border: none;
      -webkit-border-radius: 0;
         -moz-border-radius: 0;
              border-radius: 0; }

.J-iscbc #orderForm .con .coupon pre.J-CouponRight {
      display: none; }

.J-iscbc #orderForm .con .coupon .J-CouponDes.empty {
      display: block; }

.J-iscbc #orderForm .con .coupon strong {
      right: .2rem; }

.J-iscbc #orderForm .count_area {
    background: #fff;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.J-iscbc #orderForm .count_area:before {
      font-size: 12px;
      position: absolute;
      top: -25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      width: 100%;
      background-color: #09B6F2;
      color: #fff; }

.J-iscbc #orderForm .count_area .count {
      padding: 0 0 0 .3rem; }

.J-iscbc #orderForm .count_area .count p span {
        color: #F63308; }

.J-iscbc #orderForm .count_area .count, .J-iscbc #orderForm .count_area .detail_btn {
      background: none;
      color: #111; }

.J-iscbc #orderForm .count_area .confirm_btn {
      margin-right: .3rem; }

.J-iscbc #orderForm .order-price-pay {
    background-color: #09b6f2; }

.J-iscbc #orderForm .order-content .order-button-on {
    background-image: url(http://127.0.0.1:7001/static/img/switch-on_ccb.7e51cca.png); }

.J-iscbc #orderForm .order-coupon .coupon em {
    background-color: #09b6f2; }

.J-iscbc .coupon, .J-iscbc #insurance {
    border: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0; }

.J-iscbc #insurance li:nth-of-type(1) span:nth-of-type(2) .turnBtn {
    border: none !important;
    background: #ccc !important;
    width: 0.7rem !important;
    height: 0.4rem !important; }

.J-iscbc #insurance li:nth-of-type(1) span:nth-of-type(2) .turnBtn.open {
      background: #09B6F2 !important; }

.J-iscbc #insurance li:nth-of-type(1) span:nth-of-type(2) .turnBtn.open i {
        left: auto !important;
        right: 2px !important; }

.J-iscbc #insurance li:nth-of-type(1) span:nth-of-type(2) .turnBtn i {
      background: #fff !important;
      width: 0.33rem !important;
      height: 0.33rem !important;
      border: none !important;
      left: 2px !important;
      top: 2px !important; }

.J-iscbc #J-DateTimePicker .da-wrap .da-title {
    background-color: #09B6F2;
    color: #fff; }

.J-iscbc header.header {
    background-color: #09B6F2;
    color: #ffffff; }

.J-iscbc header.header .contact-show {
      display: none !important; }

.J-iscbc header.header b.back {
      color: #ffffff; }

.J-iscbc header.header h2 {
      color: #ffffff; }

.J-iscbc .plane .box {
    width: auto;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0; }

.J-iscbc .plane .plane-info .info-title li.active {
    border-bottom: 0.08rem solid #09B6F2; }

.J-iscbc .plane .plane-info .info-title li.active a {
      color: #09B6F2; }

.J-iscbc .plane .plane-car .cars .box-line.checked .car-item .radio .out {
    background-color: #09B6F2; }

.J-iscbc .plane .plane-car .cars .box-line .car-type .detail {
    color: #09B6F2; }

.J-iscbc .plane .plane-agreement {
    margin: 0 0.4rem 0.6rem 0.4rem; }

.J-iscbc .plane .plane-confirm:before {
    font-size: 12px;
    position: absolute;
    top: -25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 100%;
    background-color: #09B6F2;
    color: #fff; }

.J-iscbc .plane .plane-confirm .confirm-box {
    background: #fff; }

.J-iscbc .plane .plane-confirm .confirm-box .price-info {
      background: none;
      color: #111;
      line-height: 1.3;
      padding: 0.15rem 0.3rem;
      width: 4.4rem; }

.J-iscbc .plane .plane-confirm .confirm-box .price-info .J-actual-price span {
        color: #F63308;
        font-size: .4rem; }

.J-iscbc .plane .plane-confirm .confirm-box .price-info small {
        color: #151515; }

.J-iscbc .plane .plane-confirm .confirm-box .submit {
      margin: .2rem .3rem 0 0;
      float: right; }

.J-iscbc .plane .plane-assist ul li .turnBtn {
    width: .7rem;
    height: .4rem;
    background: #ccc;
    border: none; }

.J-iscbc .plane .plane-assist ul li .turnBtn.open {
      background: #09B6F2; }

.J-iscbc .plane .plane-assist ul li .turnBtn.open i {
        left: auto;
        right: 2px; }

.J-iscbc .plane .plane-assist ul li .turnBtn i {
      border: none;
      width: .33rem;
      height: .33rem;
      left: 2px;
      top: 2px; }

.J-iscbc .chooseNo .con {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    margin: .18rem 0; }

.J-iscbc .chooseNo .con h3 span.selected {
      border-bottom: 0.08rem solid #09B6F2;
      color: #09B6F2; }

.J-iscbc .city-nav .select {
    color: #09B6F2; }

.J-iscbc .city-nav .select:before {
      border-color: #09B6F2; }

.J-iscbc .city-main .list ul .fail {
    color: #09B6F2; }

.J-iscbc .single-inputCity {
    padding: 0;
    width: auto;
    text-align: left; }

.J-iscbc .single-inputCity span {
      text-align: left;
      padding-left: 27px; }

.J-iscbc .single-box {
    padding-top: 0; }

.J-iscbc .single-box > small {
      top: .75rem; }

.J-iscbc.J-P-android .single-button {
    width: 5.2rem; }

.J-iscbc.J-P-ios .single-button {
    width: 5.2rem;
    position: absolute;
    left: 50%;
    bottom: .7rem;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%); }

.J-iscbc .succ h2 {
    background: url("https://fr-static.huangbaoche.com/20180305/success_cbc.b44026e01d99bc76.png") no-repeat center;
    -moz-background-size: 1.73rem 1.73rem;
         background-size: 1.73rem 1.73rem; }

.J-iscbc .menu-select li.selected {
    color: #09B6F2; }

.J-iscbc .menu-button button:last-child {
    background-color: #09B6F2;
    color: #fff; }

.J-iscbc .details .list h5 {
    border-left: 0.1rem solid #09B6F2; }

.J-iscbc .order-box button {
    background-color: #09B6F2;
    color: #fff; }

.J-iscbc .price-num {
    background: #09B6F2 !important; }

.J-iscbc .content .J-history span.his-tag {
    border-left: 4px solid #09B6F2; }

.J-iscbc .content .J-history span.his-tag:before {
      background-color: #09B6F2; }

.J-iscbc .content .J-main .main-left li.selected:before {
    background-color: #09B6F2; }

.J-iscbc .content .J-main .main-right .J-Sub-Wrap li.has-sub.selected:before {
    background: #09B6F2; }

.J-iscbc .J-SearchWrap .searchContent i, .J-iscbc .J-SearchWrap .searchContent li.c-citySplit {
    color: #09B6F2; }

.J-iscbc .J-SearchWrap .searchContent li.c-citySplit p .split-left-tag {
    background: #09B6F2; }

.J-iscbc .info-simple dl dd.info-simple-name {
    border-bottom: 1px solid #09B6F2; }

.J-iscbc .info-select .info-select-box {
    border: none; }

.J-iscbc .next-btn .next-btn-content {
    background-color: #09B6F2; }

.J-iscbc .WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap li.can-today, .J-iscbc .WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap li.can-active-start, .J-iscbc .WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap li.can-active-end, .J-iscbc .WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap li.ui-select {
    background-color: #09B6F2; }

.J-iscbc .header b.search {
    display: none; }

.J-iscbc .J_user .userInfo {
    padding: 0 0 .4rem; }

.J-iscbc .J_user h2 span.selected {
    border-bottom: 3px solid #09B6F2; }

.J-iscbc.J-P-android .J_user .confirm_btn {
    width: 5.2rem; }

.J-iscbc.J-P-ios .J_user .confirm_btn {
    width: 5.2rem;
    position: absolute;
    left: 50%;
    bottom: .7rem;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%); }

.J-iscbc .J-succ h2 {
    background: url("https://fr-static.huangbaoche.com/20180305/success_cbc.b44026e01d99bc76.png") no-repeat center;
    -moz-background-size: 1.73rem 1.73rem;
         background-size: 1.73rem 1.73rem; }
.J-ismaster #page .J_user h2 {
  display: none; }

.J-ismaster #page .J_user p.login-master-bottom {
  text-align: left;
  padding: 0 .26rem; }

.J-ismaster #page .coupon strong {
  right: .2rem; }

.J-ismaster #page .J-CouponDes {
  display: none; }

.J-ismaster #page pre.J-CouponRight {
  display: none; }

.J-ismaster #page p.J-Master-discount {
  display: none; }

.J-ismaster #page #orderForm .count_area .detail_btn {
  display: none; }

.J-ismaster .page-user-info .user-coupon div.coupon {
  display: none; }
@charset "UTF-8";
.WG-Canlendar-wrap {
  background: #fff;
  font-family: PingFangSC-Regular; }
.WG-Canlendar-wrap .W-Can-title {
    text-align: left;
    margin: 0 .3rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px dashed #DBDBDB;
    padding-top: .3rem; }
.WG-Canlendar-wrap .W-Can-title > h3 {
      font-size: .26rem;
      color: #7F7F7F;
      display: block;
      line-height: .26rem;
      font-weight: 100;
      text-align: left; }
.WG-Canlendar-wrap .W-Can-title > div.W-Can-op {
      font-family: PingFangSC-Light;
      font-size: 0;
      color: #7F7F7F;
      letter-spacing: 3.47px;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center; }
.WG-Canlendar-wrap .W-Can-title > div.W-Can-op > span {
        margin: .3rem .3rem .2rem .3rem;
        display: inline-block;
        font-size: .26rem; }
.WG-Canlendar-wrap .W-Can-title > div.W-Can-op > .W-Can-op-left-btn, .WG-Canlendar-wrap .W-Can-title > div.W-Can-op .W-Can-op-right-btn {
        width: 1rem;
        height: .5rem;
        display: inline-block; }
.WG-Canlendar-wrap .W-Can-title > div.W-Can-op > div.W-Can-op-left-btn {
        float: left;
        margin: .3rem 0 0 .5rem; }
.WG-Canlendar-wrap .W-Can-title > div.W-Can-op > div.W-Can-op-right-btn {
        float: right;
        margin: .3rem .3rem 0 0; }
.WG-Canlendar-wrap .W-Can-title > div.W-Can-op .op-left-btn {
        font-size: .3rem;
        line-height: .35rem; }
.WG-Canlendar-wrap .W-Can-title > div.W-Can-op .op-right-btn {
        font-size: .3rem;
        line-height: .35rem; }
.WG-Canlendar-wrap .W-Can-main {
    text-align: center; }
.WG-Canlendar-wrap .W-Can-main > div.W-Can-main-week {
      font-family: PingFangSC-Light;
      font-size: .2rem;
      color: #7F7F7F; }
.WG-Canlendar-wrap .W-Can-main > div.W-Can-main-week > ul {
        overflow: hidden;
        padding: .25rem 0;
        margin: 0 .6rem 0 .5rem; }
.WG-Canlendar-wrap .W-Can-main > div.W-Can-main-week > ul > li {
          float: left;
          width: 14%; }
.WG-Canlendar-wrap .W-Can-main > div.W-Can-main-week > ul > li:first-of-type, .WG-Canlendar-wrap .W-Can-main > div.W-Can-main-week > ul > li:last-of-type {
          width: 15%; }
.WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-dates {
      min-height: 4.1rem; }
.WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-des {
      text-align: right;
      font-family: PingFangSC-Light;
      font-size: .22rem;
      color: #929292;
      letter-spacing: 0;
      line-height: 22px;
      padding: .2rem; }
.WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-des span {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABGdBTUEAALGPC/xhBQAAAhpJREFUOBGllT1MFFEQx3/v5SAKtkYo/Gi4RunOxBiwQ6kMwY+EEmsjoomJNmKjsTEe9mpngiFRS1qImnjdSaLY2EH8qjjghNz6n2V3b+9Y5C5MMrfzZv7z37fvzcw5MiRYpJPfjCo0Ii1QoyeEeVZwfCLgLV3MugKbzemu2REscFUEj5V0Qsll6QdhliNcr2JnZZ+S/7v0jhvkdZojIQwCPAs8UcKEgHPkeMgBvqXBiV0lzxb3hB0S9imD3HZOK0mdcF6BGtdFdJ+DvEiS/2dUuKacKbE8c+eYNKi3n+gzJ3YlWw3Bhw3bIN08F8OUjudmMM8Vi7nwAv6wJOcXDumNzVLlKH/5qJfd0M5nm8PhusJL5ffpovKeX1zWto8r4VEmuO5MjqfuiqwO5dolrnHJ6/svSsu7XsCO7AxHJ1/l/SwdsTM8LUIrjf2J570ICl6fe0RGXGf7IV0WV09uTwan/ZvUGKPCmQi/QTdF2T+jdfLI6dpXtNpurcSdMrr4oVsu69CPyWuqOqMq3ys1aJqw17hshyUBrJ2yZYsNldNwdjDltZZ0lLzI3kn7ldaXCrdnWitaf8ObvQu7FerVsFXzYWG7kzoNTQ3t8gLrjLeS34Cxfg44bxw2zsJedgPM6ECnNUEetEUaDwdPMR5jSTu1Pb42uRvuTGQMcGvH+Io/o2HAWjttd0Bc+K0P2JjQnkGJDmt0mW3/BfwD/t2pcPWY6pAAAAAASUVORK5CYII=) no-repeat left center;
        -moz-background-size: .2rem .2rem;
             background-size: .2rem .2rem;
        padding-left: .25rem; }
.WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap {
      overflow: hidden;
      margin: 0 .6rem 0 .5rem; }
.WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap > li {
        float: left;
        width: 10%;
        margin: .1rem .13rem;
        height: .6rem;
        font-weight: 400;
        font-size: 0.26rem;
        line-height: 0.6rem;
        overflow: hidden;
        text-align: center;
        color: #151515; }
.WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap > li:nth-of-type(7n), .WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap > li:nth-of-type(7n+1) {
        color: #FF2525;
        margin: .1rem .15rem; }
.WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap li.can-invalid {
        color: #cfcfcf; }
.WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap li.can-today, .WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap li.can-active-start, .WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap li.can-active-end, .WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap li.ui-select {
        background-color: #fdd631;
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%; }
.WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap li.can-today > i:before {
        content: '\4ECA\5929';
        text-align: center;
        font-style: normal; }
.WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap li.can-active-start > i:before {
        content: '\5F00\59CB';
        text-align: center;
        font-style: normal; }
.WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap li.can-active-end > i:before {
        content: '\7ED3\675F';
        text-align: center;
        font-style: normal; }
.WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap li.can-range {
        background-color: rgba(253, 214, 49, 0.5);
        color: #fff; }
.WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap li.can-active, .WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap li.can-active-start, .WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap li.can-active-end {
        background-color: #fdd631;
        color: #fff;
        font-size: 0.18rem; }
.WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap li.can-notpast.can-hole {
        position: relative;
        color: #cfcfcf; }
.WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap li.can-notpast.can-hole i {
          display: block;
          height: 1px;
          background: #cfcfcf;
          -webkit-transform: rotate(-60deg);
             -moz-transform: rotate(-60deg);
              -ms-transform: rotate(-60deg);
               -o-transform: rotate(-60deg);
                  transform: rotate(-60deg);
          -webkit-transform-origin: center;
             -moz-transform-origin: center;
              -ms-transform-origin: center;
               -o-transform-origin: center;
                  transform-origin: center;
          top: 50%;
          position: absolute;
          left: 20%;
          /* right: 0; */
          width: 60%; }
.WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap li.can-notpast.can-half {
        position: relative; }
.WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap li.can-notpast.can-half i {
          position: absolute;
          right: 0.2rem;
          top: 0.18rem;
          width: .22rem;
          height: .22rem;
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABGdBTUEAALGPC/xhBQAAAhpJREFUOBGllT1MFFEQx3/v5SAKtkYo/Gi4RunOxBiwQ6kMwY+EEmsjoomJNmKjsTEe9mpngiFRS1qImnjdSaLY2EH8qjjghNz6n2V3b+9Y5C5MMrfzZv7z37fvzcw5MiRYpJPfjCo0Ii1QoyeEeVZwfCLgLV3MugKbzemu2REscFUEj5V0Qsll6QdhliNcr2JnZZ+S/7v0jhvkdZojIQwCPAs8UcKEgHPkeMgBvqXBiV0lzxb3hB0S9imD3HZOK0mdcF6BGtdFdJ+DvEiS/2dUuKacKbE8c+eYNKi3n+gzJ3YlWw3Bhw3bIN08F8OUjudmMM8Vi7nwAv6wJOcXDumNzVLlKH/5qJfd0M5nm8PhusJL5ffpovKeX1zWto8r4VEmuO5MjqfuiqwO5dolrnHJ6/svSsu7XsCO7AxHJ1/l/SwdsTM8LUIrjf2J570ICl6fe0RGXGf7IV0WV09uTwan/ZvUGKPCmQi/QTdF2T+jdfLI6dpXtNpurcSdMrr4oVsu69CPyWuqOqMq3ys1aJqw17hshyUBrJ2yZYsNldNwdjDltZZ0lLzI3kn7ldaXCrdnWitaf8ObvQu7FerVsFXzYWG7kzoNTQ3t8gLrjLeS34Cxfg44bxw2zsJedgPM6ECnNUEetEUaDwdPMR5jSTu1Pb42uRvuTGQMcGvH+Io/o2HAWjttd0Bc+K0P2JjQnkGJDmt0mW3/BfwD/t2pcPWY6pAAAAAASUVORK5CYII=) no-repeat center;
          -moz-background-size: 0.2rem 0.2rem;
               background-size: 0.2rem 0.2rem; }
.WG-Canlendar-wrap .W-Can-main > div.W-Can-main-date .W-Can-main-date-wrap li.can-notpast.ui-today.can-half i {
        right: 0; }
body {
  background-color: #f4f4f4; }

ul, li, dl {
  margin: 0;
  padding: 0; }

var {
  font-style: normal; }

b {
  color: #000000; }

/* .wrap {
  margin : auto;
  font-size: 14px;
} */

.wrap-fix {
  width: 7.5rem;
  height: 1rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10; }

.info {
  background-color: #ffffff; }

.info-free {
  display: none; }

.info-simple {
  color: #898989;
  font-size: 0.26rem; }

.info-simple dl {
    width: 100%;
    padding: 0.3rem 0;
    position: relative;
    left: 0;
    top: 0;
    border-bottom: 1px solid #e5e5e5; }

.info-simple dl dt {
      width: 1rem;
      height: 0.5rem;
      line-height: 0.5rem;
      position: absolute;
      left: 0.35rem;
      top: 0.35rem;
      text-align: center;
      color: #fff;
      -webkit-border-radius: 5px;
         -moz-border-radius: 5px;
              border-radius: 5px;
      background-color: #21abf3; }

.info-simple dl dt.issx {
      background-color: #44d435; }

.info-simple dl dd {
      width: 4.6rem;
      margin-left: 1.7rem; }

.info-simple dl dd.info-simple-name {
      padding-bottom: 0.1rem;
      margin-bottom: 0.1rem;
      border-bottom: 1px solid #fdd631; }

.list {
  margin-top: 0.25rem; }

.list-count {
  margin: 0.1rem 0.3rem;
  padding-top: 0.2rem; }

.list-item {
  width: 6.96rem;
  margin: 0.25rem auto;
  border: 1px solid #898989;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background-color: #ffffff;
  padding: .6rem .3rem 0 .3rem; }

.list-item div.list-ibox {
    margin-bottom: .6rem;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: .6rem;
    position: relative; }

.list-item div.list-ibox code.last {
      display: inline-block;
      width: .6rem;
      text-align: center; }

.list-item div.list-ibox:last-child {
      margin-bottom: 0;
      border: none; }

.list-item div.list-ibox:last-child span {
        display: inline-block;
        width: .4rem;
        height: .4rem;
        padding: 0 .6rem;
        text-align: center;
        color: #ababab;
        vertical-align: middle; }

.list-item div.list-ibox:last-child span.info-add {
        background: url("https://fr-static.huangbaoche.com/20180330/plus.7f7c10f94dfc8061.png") no-repeat 50% 50%;
        -moz-background-size: auto 100%;
             background-size: auto 100%; }

.list-item div.list-ibox:last-child span.info-reduce {
        margin-left: -.3rem;
        background: url("https://fr-static.huangbaoche.com/20180330/reduce.5c53150278a0f634.png") no-repeat 50% 50%;
        -moz-background-size: auto 100%;
             background-size: auto 100%; }

.list-item div.list-ibox:last-child span.unactive {
        border-color: #c5c5c5;
        color: #c5c5c5; }

.list-item div.list-ibox small {
      position: absolute;
      padding-top: .1rem;
      font-size: .26rem;
      color: #ff6633;
      width: 100%;
      display: none; }

.list-item div.list-ibox small:before {
        vertical-align: middle;
        margin-right: .1rem; }

.list-item div.list-ibox small.info {
      color: #898989;
      font-family: Arial !important; }

.list-item div.list-ibox small.info:before {
        display: none; }

.list-item div.list-ibox dl {
      display: table;
      width: 100%; }

.list-item div.list-ibox dt, .list-item div.list-ibox dd {
      display: table-cell;
      font-size: .36rem; }

.list-item div.list-ibox dt {
      text-align: left;
      width: 29%; }

.list-item div.list-ibox dt input {
        font-size: .36rem; }

.list-item div.list-ibox dd {
      padding-left: .6rem; }

.list-item div.list-ibox dd code {
        color: #999;
        white-space: nowrap;
        font-family: Arial; }

.list-item div.list-ibox dd .select {
        color: #000; }

.info-select {
  text-align: center;
  padding: .3rem; }

.info-select .info-select-box {
    height: 1.12rem;
    margin-bottom: 0.66667rem;
    border-bottom: 0.02667rem solid #cecece;
    font-size: 16px; }

.info-select .info-select-box a {
      background: #fdd631;
      display: inline-block;
      line-height: 1.12rem;
      width: 100%;
      text-align: center;
      font-size: .36rem; }

.sku-info-wrap {
  border-top: solid .14rem #F6F6F6; }

.sku-info-wrap .sku-info {
    padding-left: .3rem;
    padding-top: .3rem;
    background-color: #ffffff; }

.sku-info-wrap .sku-info .sku-info-img {
      width: 1.6rem;
      height: 1.08rem;
      vertical-align: top;
      display: inline-block;
      -moz-background-size: cover;
           background-size: cover; }

.sku-info-wrap .sku-info span {
      width: 5.1rem;
      font-size: .28rem;
      color: #161616;
      vertical-align: top;
      display: inline-block;
      line-height: .36rem; }

.sku-date {
  margin-top: .14rem; }

.sku-num-modi {
  display: inline-block;
  width: .55rem;
  text-align: center; }

.people-num {
  border-top: solid .14rem #F6F6F6;
  background-color: #ffffff;
  padding-left: .3rem; }

.people-num .people-num-title {
    font-size: 0;
    padding-top: .2rem; }

.people-num .people-num-title span {
      font-size: .26rem;
      color: #7F7F7F; }

.people-num .people-num-content .sku-people {
    font-size: 0;
    border-bottom: solid 1px #DBDBDB;
    padding-bottom: .2rem;
    margin-top: .3rem; }

.people-num .people-num-content .sku-people span {
      font-size: .28rem;
      color: #161616;
      vertical-align: middle;
      line-height: .48rem; }

.people-num .people-num-content .sku-people .sku-people-nums {
      float: right;
      margin-right: .15rem; }

.people-num .people-num-content .sku-people .sku-people-nums .sku-num-false {
        color: #CCCCCC; }

.people-num .people-num-content .sku-people .sku-people-nums .sku-num {
        width: .81rem;
        height: .48rem;
        display: inline-block;
        border-left: 1px solid #DBDBDB;
        border-right: 1px solid #DBDBDB;
        text-align: center;
        line-height: .48rem; }

.people-num .people-num-content .sku-people .sku-child-seat {
      margin-top: .2rem;
      border-top: solid 1px #DBDBDB;
      padding-top: .3rem; }

.people-num .people-num-content .sku-people:last-child {
      border-bottom: none; }

.people-num .people-num-content .sku-people-::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0; }

.people-num .people-num-content .people-baggages {
    font-size: 0;
    padding-bottom: .2rem;
    margin-top: .3rem; }

.people-num .people-num-content .people-baggages span {
      font-size: .28rem;
      color: #161616;
      vertical-align: middle;
      line-height: .48rem; }

.people-num .people-num-content .people-baggages .people-baggages-nums {
      float: right;
      margin-right: .24rem; }

.people-num .people-num-content .people-baggages .people-baggages-nums .people-baggages-num {
        margin-right: .26rem; }

.people-num .people-num-content .people-baggages .baggages-info {
      margin-left: .2rem;
      color: #24BCFF;
      font-size: .24rem;
      -webkit-text-decoration-line: underline;
         -moz-text-decoration-line: underline;
              text-decoration-line: underline; }

.people-num .J-baggages-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none; }

.people-num .J-baggages-wrap .baggages-img {
      width: 6.7rem;
      height: 10.38rem;
      position: fixed;
      left: 50%;
      top: 50%;
      background-image: url(https://fr-static.huangbaoche.com/20180330/m-luggage-instruction.5fd5d63071e8a74d.png?x-oss-process=image/resize,m_fill,limit_0,w_750,h_500/format,jpg/interlace,1/quality,q_85);
      -moz-background-size: contain;
           background-size: contain;
      -webkit-transform: translate(-50%, -50%);
         -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
           -o-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: 10; }

.sku-room-info {
  background-color: #ffffff;
  padding-left: .3rem;
  margin-top: .14rem; }

.sku-room-info .room-info-title {
    font-size: 0;
    padding-top: .2rem; }

.sku-room-info .room-info-title span {
      font-size: .26rem;
      color: #7F7F7F; }

.sku-room-info .room-info-content {
    font-size: 0;
    margin-top: .3rem;
    padding-bottom: .2rem; }

.sku-room-info .room-info-content span {
      color: #161616;
      font-size: .28rem;
      vertical-align: middle; }

.sku-room-info .room-info-content .room-prices {
      color: #FF2525; }

.sku-room-info .room-info-content .room-nums {
      float: right;
      margin-right: .15rem; }

.sku-room-info .room-info-content .room-nums .sku-num-false {
        color: #CCCCCC; }

.sku-room-info .room-info-content .room-nums .room-num {
        width: .81rem;
        height: .48rem;
        display: inline-block;
        border-left: 1px solid #DBDBDB;
        border-right: 1px solid #DBDBDB;
        text-align: center;
        line-height: .48rem; }

.sku-room-info .room-info-content::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0; }

.next-btn {
  font-size: 0;
  margin: .4rem .5rem; }

.next-btn .next-btn-content {
    display: inline-block;
    font-size: .32rem;
    color: #ffffff;
    background-color: #FFCE00;
    width: 100%;
    text-align: center;
    padding: .18rem 0;
    -webkit-border-radius: .06rem;
       -moz-border-radius: .06rem;
            border-radius: .06rem; }
