.G-plane-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  z-index: 5;

  header.header {
    position: relative
  }
}
.search-input-wrap {
  background: #f9f9f9;
  padding: .24rem .4rem .26rem;

  .search-area {
    border-radius: 5px;
    background: #fff;
    display: flex;
    height: .7rem;
    line-height: .7rem;
    align-items: center;
    padding: 0 15px;

    /* max-width: 7.5rem; */
    &>span {
      display: block;
      width: 20px;
      height: 20px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &>input {
      flex: 1;
      display: block;
      font-size: .3rem;
      padding: .1rem;
      color: #333;
    }
    &>span.sp-search-icon {
      background-image: url(../images/search.png);
    }
    &>span.sp-clear-icon {
      display: none;
      background-image: url(../images/clear-icon.png);
    }
  }
}
.plane-main {
  position: absolute;
  bottom: 0;
  top: 2.16rem;
  overflow-y: auto;
  -o-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  background: #f9f9f9;

  .plane-list {
    h3 {
      color: #727272;
      font-size: .22rem;
      background-color: #f0f0f0;
      padding: .15rem .3rem;
    }
    ul {
      font-size: .32rem;
      padding-left: .9rem;

      li {
        position: relative;

        &:last-child {
          background-image: none;
        }
        a {
          display: block;
          color: #111;
          padding: .3rem .5rem .3rem 0;
        }
      }
    }
  }
  .history, .hot {
    h3 {
      &:before {
        content: '';
        display: inline-block;
        background: url('../images/icon-history.png') no-repeat 50% 50%;
        background-size: auto 100%;
        margin-right: .15rem;
        width: .24rem;
        height: .24rem;
        line-height: .24rem;
        vertical-align: middle;
        margin-top: -2px;
      }
    }
    ul {
      li {
        &:before {
          content: '';
          position: absolute;
          left: -.5rem;
          top: 50%;
          margin-top: -.15rem;
          display: inline-block;
          background: url('../images/icon-h-time.png') no-repeat 50% 50%;
          background-size: auto 100%;
          width: .3rem;
          height: .3rem;
        }
      }
    }
  }
  .delete {
    position: relative;

    del {
      position: absolute;
      right: 0.8rem;
      top: 50%;
      margin-top: -.3rem;
      display: inline-block;
      width: .24rem;
      height: .6rem;
      background: url('../images/icon-close.png') no-repeat 50% 50%;
      background-size: .24rem auto;
      padding: 0 .2rem;
    }
  }
  .hot {
    ul {
      li {
        &:before {
          background-image: url('../images/icon-h-start.png');
        }
      }
    }
  }
}
.plane-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  display: inline-block;
  font-size: .22rem;
  padding-top: 2.23rem;
  color: #3c3830;
  z-index: 10;

  span {
    display: inline-block;
    font-size: .18rem;
    text-align: center;
    line-height: 1.2;
    width: .6rem;
  }
  dl {
    margin-top: .16rem;

    dt {
      font-size: .22rem;
      text-align: center;
      padding: 0 .16rem;
    }
  }
  .bar-box {
    position: relative;

    del {
      position: absolute;
      display: none;
      width: .8rem;
      height: .8rem;
      color: #666;
      background: #f5f5f5;
      border-radius: 5px;
      line-height: .8rem;
      text-align: center;
      left: -1rem;
      font-size: .36rem;
      text-decoration: none;

      &:before {
        content: '';
        position: absolute;
        bottom: .15rem;
        right: -.28rem;
        width: 0;
        height: 0;
        font-size: 0;
        border: .15rem solid transparent;
        border-left-color: #f5f5f5;
      }
    }
  }
}
.plane-search {
  display: none;
}
